<div>
  <label>
    Page size:
    <select (change)="onPageSizeChange(+($any($event.target).value))">
      @for (s of [10,20,50]; track s) {
        <option [value]="s">{{ s }}</option>
      }
    </select>
  </label>

  <label>
    @if (pageNumbers.length > 0) {
      Page:
      <select (change)="onPageChange(+($any($event.target).value))">
        @for (p of pageNumbers; track p) {
          <option [value]="p">{{ p }}</option>
        } @empty {
          <option disabled>No pages</option>
        }
    </select>
    } @else {
    <span>No pages available</span>
  }
  </label>
</div>

<p>{{ range$ | async }}</p>

<ul>
  @if (items$ | async; as items ) {
    @if (items.length > 0) {
      @for (item of items; track item.id) {
        <li>{{ item.name }}</li>
      } @empty {
        <li>No items available</li>
      }
    } @else {
      <li>No items available</li>
    }
  } @else {
    <li>Loading items…</li>
  }
</ul>
